@model Project.Models.TaskList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <ul>
            @foreach (var task in Model.Tasks)
            {
                <li>@task.Title</li>
            }
        </ul>
        <form asp-action="AddTask" method="post">
            <input type="hidden" name="taskListId" value="@Model.Id" />

            <input type="text" name="title" placeholder="New task..." />

            <button type="submit">Add Task</button>
        </form>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
